/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #38a169;
  background-size: 200% 200%;
  /* animation: smokyGradient 8s ease infinite; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s ease;
}

.navbar-logo img {
  height: 70px; /* Adjust logo size to make it bigger */
  max-width: 100%;
  object-fit: contain; /* Ensure the logo doesn't stretch */
  transition: transform 0.3s ease;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li {
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-links a:hover {
  border-bottom: 2px solid #ffffff; /* Underline on hover */
}

/* Navbar Button Styles */
.navbar-button {
  background: linear-gradient(90deg, #34a853 0%, #68b96a 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.navbar-button:hover {
  background: linear-gradient(90deg, #68b96a 0%, #34a853 100%);
  box-shadow: 0 8px 20px rgba(0, 255, 0, 0.5);
  transform: scale(1.05);
}

/* Sticky navbar on scroll */
.navbar.sticky {
  background: #f9f9f9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Mobile View */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-button {
    margin-top: 1rem;
  }
}

@keyframes smokyGradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 80%;
  }
  100% {
    background-position: 0% 100%;
  }
}
